.carrousellSunny{
    display: flex;
    justify-content: space-around;
}
    
.carrousellPupi{
    display: flex;
    justify-content: space-around;
}
    
.carrousellJacksoneitor{
    display: flex;
    justify-content: space-around;
}
    
.carrousellLean{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:599px) and (orientation:landscape) {
 
}

@media screen and (min-width:600px ) and (orientation: portraid){

.carrousellSunny{
    display: flex;
    justify-content: space-around;
    }
    
.carrousellPupi{
    display: flex;
    justify-content: space-around;
    }
    
.carrousellJacksoneitor{
    display: flex;
    justify-content: space-around;
    }
    
.carrousellLean{
    display: flex;
    justify-content: space-around;
    }
}

@media screen and (min-width:1200px ) {
  
.carrousellSunny{
    display: flex;
    justify-content: space-around;
}
        
.carrousellPupi{
    display: flex;
    justify-content: space-around;
}
        
.carrousellJacksoneitor{
    display: flex;
    justify-content: space-around;
}
        
.carrousellLean{
    display: flex;
    justify-content: space-around;
}
}    
