body{
    background-color: $colorBackgroundBody;
}

*{
    color: $colorLetrasDatos;
}

.telefono{
    color:$colorLetrasDatos;
}

.direccion{
    color:$colorLetrasDatos;
}

.copy{
    color:$colorLetrasDatos;
}

form{
    background-color: $colorBackgroundFormulario;
    border: 5px solid $colorBordeFormulario;
}

legend{
    color: $colorLetrasFormulario;
    background-color:$colorBackgroundFormulario;
}

label{
    color:$colorLetrasFormulario;
    background-color:$colorBackgroundFormulario;
}

.tituloParrafo{
    background-color: $colorBackgroundFormulario;
}

footer { 
    background-color: $colorBackgroundFooter;
    border-top: 4px solid $colorBordeFooter; 
}

.tituloPrincipal{
    color:$colorTitulo;
}

#textoFoto{
    background-color: $colorBackgroundMain;
    color:$colorLetrasMain; 
    border: 3px solid $colorBordeMain;
}

.tituloFotos{
    color: $colorTituloFotos;
}

header{
    background-image: linear-gradient(to top, #000000, #111111,#222222, #333333, #555555);
}

header{
    border-bottom: 4px solid $colorBordeHeader; 
}

.colorNav{
    background-color: $colorFondoNav;
    border: 5px solid $colorBordeNav;
    color: $colorLetrasMain;
}

.colorNav{
    a{
        color: $colorLetrasMain; 
        &:visited{color: $colorLetraNavVisited;}
    }
}

.nosDestacamos{
    li{
        color: $colorNosDestacamos;
    }

.tituloRedes{
    color: $colorLetrasFormulario;
}

.redesSociales{
    background-color:$colorBackgroundRedes;
    border:$colorBordesRedes;
}

.redesSociales{
    ul{
        li{
            background-color:$colorBackgroundRedes;
            border:$colorBordesRedes;
        }
    }
}

.redesSociales{
    ul{
        li{
            a{
                background-color: $colorBackgroundRedes;
                border: $colorBordesRedes; 
            }
        }
    }
}

}

    /*>diseño para tableta*/
    
@media screen and (min-width:600px ) and (orientation: portraid) {

footer{
        background-color:#000000;
        border-top: 4px solid #fca64b; 
}

.tituloPrincipal{
    color:#e67700;
}   
        
   
#textoFoto{ 
    background-color: #000000; 
    color:#e67700; 
    border-color: #e67700;
}

.tituloFotos{
    color: #fca64b;
}

header{
    background-image: linear-gradient(to top, #000000, #111111,#222222, #333333, #555555);
}
    
header{
    border-bottom: 4px solid #fca64b; 
}

.colorNav{
    background-color: #000000;
    border: 2px solid #e67700;
}
    
.colorNav{
    a{
        &:hover{  color:rgb(255, 255, 255)}
        &:visited{ color: #fca64b;}
    }
}
    
.colorText{
    color: #fca64b;
}
     
.colorText{
    a{
         &:hover{color: #e67700;}
    }
}    


.tituloRedes{ 
    color: #fca64b;
}
                
.redesSociales{
    background-color:transparent;
}
        
.redesSociales{
    ul{
        li{
            background-color: transparent;
            border: 01px solid #000000;
        }
    }
}
         
.redesSociales{
    ul{
        li{
            a{ 
                color:#e67700; 
            }
        }
    }
}        
}

    /*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {


.carrousellSunny{
            border:5px solid $colorBordeCarrousell;
}

.carrousellPupi{
    border: 5px solid $colorBordeCarrousell;
}
        
.carrousellJacksoneitor{
    border: 5px solid $colorBordeCarrousell;
}

.carrousellLean{
    border: 5px solid $colorBordeCarrousell;
}

form{
    background-color: $colorBackgroundFormulario;
    border: 5px solid $colorBordeFormulario;
}

legend{
    color: $colorLetrasFormulario;
    background-color:$colorBackgroundFormulario;
}

label{
    color:$colorLetrasFormulario;
    background-color:$colorBackgroundFormulario;
}

.tituloParrafo{
    background-color: $colorBackgroundFormulario;
}

.telefono{
    color:$colorLetrasDatos;
}
    
.direccion{
    color:$colorLetrasDatos;
}
    
.copy{
    color:$colorLetrasDatos;
}

footer{
    border-top: 4px solid $colorBordeFooter; 
    background-color: $colorBackgroundFooter;
}

.tituloPrincipal{
    color:$colorTitulo;
}    

#textoFoto{ 
    border: 6px solid $colorBordeMain;
    background-color: $colorBackgroundMain; 
    color:$colorLetrasMain;
}

#textoFoto:hover{
    border: 6px solid $colorBordeMainHover;
    color: $colorLetrasMainHover;
    background-color: $colorBackgroundMainHover;
}

.tituloFotos{
    color: $colorTituloFotos;
}

header{
    background-image: linear-gradient(to top, #000000, #111111,#222222, #333333, #555555);
}

header{
    border-bottom: 4px solid $colorBordeHeader; 
}

.colorNav{
    background-color: $colorFondoNav;
    border: 2px solid $colorBordeNav;
}

.colorNav{
        a{
            &:visited{ color:$colorLetraNavVisited;}
            &:hover{ color: $colorLetraNavHover;}
        }
}

.colorText{
    color: $colorLetrasFormulario;
}    

.nosDestacamos{
    li{
    color: $colorNosDestacamos; 
    }
} 

.tituloRedes{
    color: $colorLetrasFormulario;
}

.redesSociales{
    background-color:transparent;
}

.redesSociales{
    ul{
        li{
            background-color:$colorBackgroundRedes;
            border: 01px solid $colorBordesRedes; 
        }
    }
}

}










































































