.telefono{
    color:#ffffff;
    font-size: 12px;
    text-align: center;
}

.direccion{
    color:#ffffff;
    font-size: 15px;
    text-align: center;
}

.datos{
    display: flex;
    flex-direction:column;
    text-align: center;
}

.copy{
    color:#ffffff;
    font-size: 10px;
    text-align: center;
}

form{
    background-color: #000000;
    width: 300px;
    margin: auto;
    border: 5px solid #e67700;
    margin-bottom: 30px;
}

legend{
    text-align: center;
    font: size 30px;
    color: #fca64b;
    background-color:#000000;
}

label{
    width: 80%;
    font-size: 15px;
    color:#fca64b;
    background-color:#000000;
    margin: 10px;
}

input, textarea{
    width: 90%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

textarea{
    min-height: 50px;
    max-height: 100px;
    width: 90%;
}

.opciones{
   text-align: center;
   font-size: 20px;
   width: 90%;
   text-decoration-line:underline;
}

.tituloParrafo{
    text-align: center;
    background-color: #000000;
    margin-top: 20px;
}

button{
    margin: 15px;
}

.checkbox{
    width: 100%;
    display:flex;
    position:sticky
}

   /*>diseño para tableta*/
   
@media screen and (min-width:600px ) and (orientation: portraid) {

}

    
    /*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {

.bodyForm{
    background-image: url("../images/fondoformulario.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:fixed;
    box-sizing:content-box;
}

form{
    background-color: #000000;
    width: 500px;
    margin: auto;
    border: 5px solid #e67700;
    margin-bottom: 20px;
}

legend{
    text-align: center;
    font-size: 50px;
    color: #fca64b;
    background-color:#000000;
}

label{
    width: 80%;
    font-size: 20px;
    color:#fca64b;
    background-color:#000000;
    margin: 10px;
}

input, textarea{
    width: 90%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

textarea{
    min-height: 50px;
    max-height: 100px;
    width: 80%;
}

.opciones{
   text-align: center;
   font-size: 25px;
   width: 80%;
   text-decoration-line:underline;
}

.tituloParrafo{
    text-align: center;
    background-color: #000000;
}

.parrafoContacto{
    text-align: center;
    margin: 2%;
} 

button{
    margin: 15px;
}

.checkbox{
    width: 100%;
    display:flex;
    position:sticky
}

.datos{
    display: flex;
    flex-direction:column;
    text-align: center;
}
        
.telefono{
    color:#ffffff;
    font-size: 15px;
}
    
.direccion{
    color:#ffffff;
    font-size: 25px;
}
    
.copy{
    color:#ffffff;
    font-size: 12px;
}


}




























