footer {
    text-align:center; 
    font-size: 0.45cm;
    background-color: $footerBackground;
    }

footer{
    ul{
        li{
            a{
                text-decoration: none;
                }
            }
        }
    }

footer{
    margin:10px;
    }

@media screen and (min-width:600px ) and (orientation: portraid){

footer{
    margin:10px;
    }
}
  
@media screen and (min-width:1200px ) {

footer{
    margin:10px;
}
}