.tituloPrincipal{
    background-size: 80%;
    text-align: center;
    font-size: 190%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#textoFoto{
    width: 80%;
    font-size: 200%; 
    font-weight: bold;
    position: absolute; 
    top: 78%;
    right: 10%; 
    text-align: center;
}

.jack{
    display: flex;
    flex-direction:column;
     align-items: center;
    justify-content: center;
}

.tituloFotos{
    font-size: 150%;
}

    /*>diseño para tableta*/
    
@media screen and (min-width:600px ) and (orientation: portraid) {

.tituloPrincipal{
    background-size: 80px;
    text-align: center;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}   
        
   
#textoFoto{ 
    width: 70%;
    font-size: 46px; 
    font-weight: bold;
    position: absolute; 
    top: 700px;
    right: 100px; 
    border:solid; 
    text-align: center;
}


}
     /*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {

.tituloPrincipal{
    text-align: center;
    font-size: 600%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}    

#textoFoto{ 
    width: 75%;
    font-size: 500%; 
    font-weight: bold;
    position: absolute; 
    top: 160%;
    right:10%; 
    text-align: center;
    transition: all 1.5s;
}


.tituloFotos{
    font-size: 50px;
}

}


















































