header{
    display: block;
}



   /*>diseño para tableta*/
   
@media screen and (min-width:600px ) and (orientation: portraid) {

header{
    display: block;
}
    
}

    /*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {
 
header{
    display: block;
}


}

















