$colorBordeCarrousell:#fca64b;
$colorBordeFormulario:#e67700;
$colorBackgroundFormulario:#000000;
$colorLetrasFormulario:#fca64b;
$colorLetrasDatos:#ffffff;
$colorBordeFooter:#fca64b;
$colorBackgroundFooter:#000000;
$colorTitulo:#e67700;
$colorBordeMain:#e67700;
$colorBackgroundMain:#000000;
$colorLetrasMain:#e67700;
$colorBordeMainHover:#000000;
$colorBackgroundMainHover:#e67700;
$colorLetrasMainHover:#000000;
$colorTituloFotos:#fca64b;
$colorBordeHeader:#fca64b;
$colorFondoNav:#000000;
$colorBordeNav:#e67700;
$colorLetraNavHover:#ffffff;
$colorLetraNavVisited:#e67700;
$colorNosDestacamos:#e67700;
$colorBackgroundRedes:transparent;
$colorBordesRedes:transparent;
$colorBackgroundBody:#000000;



