.colorNav{

    left: 15%;
    width: 100%;
}

.colorNav{
    a{
        transition: 1.5s;
        font-size: 100%;
    }
}

    /*>diseño para tableta*/
    
@media screen and (min-width:600px ) and (orientation: portraid) {

.colorNav{
    text-align: center;
}
    
.colorNav{
    a{
        transition: 1.5s;  
       
       
    }
}
    
.colorText{
    text-align: center;
}
     
.colorText{
    a{
        transition: 1.5s;  
    }
}    
}
    /*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {

.colorNav{
    width: 75%;
    left: 35%;
}

.colorNav{
        a{
            transition: 2.5s;
            align-items:center;
            text-align: center;
            font-size: 200%;
            padding: 1%;  
        }
}

.colorText{
    text-align: center;
}    

}
 
























































































