.parrafoNosotros{
    text-align: center ;
    text-decoration:dotted; 
    line-height: 29px;
}

.nosDestacamos{
    text-decoration: underline;
    font-size: 25px;
    list-style-type: none;
}

@media screen and (max-width:599px) and (orientation:landscape) {

}

@media screen and (min-width:600px ) and (orientation: portraid){

}

@media screen and (min-width:1200px ) {

}   