.tituloRedes{
    position: sticky; 
    align-items: center;
    text-align: center;
    font-size: 150%;
    z-index: 1;
}

.redesSociales{
    position:sticky;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.redesSociales{
    ul{
        display:flex;
        position: sticky;
        text-align: center;
        align-items: center;
        list-style-type: none;
        z-index: 1;
    }
}

.redesSociales{
    ul{
        li{
            display: flex;
            position:sticky;
            margin-left: 10%;
            text-align: center;
            align-items: center;
            z-index: 1;
        }
    }
}

.redesSociales{
    ul{
        li{
            a{
                display: flex;
                position: sticky;
                left: 50%;
                z-index: 1; 
            }
        }
    }
}

    /*>diseño para tableta*/

@media screen and (min-width:600px ) and (orientation: portraid) {

.tituloRedes{
    position: fixed; 
    left: 400px; 
    top: 400px; 
    margin: 0px;
}
                
.redesSociales{
    position: fixed;
    bottom: 0px;
    left: 1000px;
    border-radius: 10px;
    padding: 0px 08px 0px 00px;
    width: 50%;
    display: inline-block;
}
         
.redesSociales{
    ul{
        list-style-type: none; 
        padding: 0%; 
    }
}
        
.redesSociales{
    ul{
        li{
            display: inline-block;
            border-radius: 00px;
            padding: 05px;
        }
    }
}
         
.redesSociales{
    ul{
        li{
            a{
                font-size: 20px; 
                text-align:right; 
            }
        }
    }
}        
}

    /*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {

.tituloRedes{
    position: fixed; 
    font-size: 110%;
    left: 80%; 
    top: 85%; 
    margin: 0px;
    z-index: 1;
}

.redesSociales{
    display: inline-block;
    position: fixed;
    left:73%;
    border-radius: 10px;
    bottom: 4%;
    width: 25%;
    z-index: 1;
}

.redesSociales{
    ul{
        list-style-type: none; 
        margin: 1%;
        bottom: 2%;
        left: 82%;
        z-index: 1;
    }
}

.redesSociales{
    ul{
        li{
            display: inline-block;
            padding: 0.4%;
            z-index: 1; 
        }
    }
}
}











































































































































