@charset "UTF-8";
body {
  background-color: #000000;
}

* {
  color: #ffffff;
}

.telefono {
  color: #ffffff;
}

.direccion {
  color: #ffffff;
}

.copy {
  color: #ffffff;
}

form {
  background-color: #000000;
  border: 5px solid #e67700;
}

legend {
  color: #fca64b;
  background-color: #000000;
}

label {
  color: #fca64b;
  background-color: #000000;
}

.tituloParrafo {
  background-color: #000000;
}

footer {
  background-color: #000000;
  border-top: 4px solid #fca64b;
}

.tituloPrincipal {
  color: #e67700;
}

#textoFoto {
  background-color: #000000;
  color: #e67700;
  border: 3px solid #e67700;
}

.tituloFotos {
  color: #fca64b;
}

header {
  background-image: linear-gradient(to top, #000000, #111111, #222222, #333333, #555555);
}

header {
  border-bottom: 4px solid #fca64b;
}

.colorNav {
  background-color: #000000;
  border: 5px solid #e67700;
  color: #e67700;
}

.colorNav a {
  color: #e67700;
}
.colorNav a:visited {
  color: #e67700;
}

.nosDestacamos li {
  color: #e67700;
}
.nosDestacamos .tituloRedes {
  color: #fca64b;
}
.nosDestacamos .redesSociales {
  background-color: transparent;
  border: transparent;
}
.nosDestacamos .redesSociales ul li {
  background-color: transparent;
  border: transparent;
}
.nosDestacamos .redesSociales ul li a {
  background-color: transparent;
  border: transparent;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  footer {
    background-color: #000000;
    border-top: 4px solid #fca64b;
  }
  .tituloPrincipal {
    color: #e67700;
  }
  #textoFoto {
    background-color: #000000;
    color: #e67700;
    border-color: #e67700;
  }
  .tituloFotos {
    color: #fca64b;
  }
  header {
    background-image: linear-gradient(to top, #000000, #111111, #222222, #333333, #555555);
  }
  header {
    border-bottom: 4px solid #fca64b;
  }
  .colorNav {
    background-color: #000000;
    border: 2px solid #e67700;
  }
  .colorNav a:hover {
    color: rgb(255, 255, 255);
  }
  .colorNav a:visited {
    color: #fca64b;
  }
  .colorText {
    color: #fca64b;
  }
  .colorText a:hover {
    color: #e67700;
  }
  .tituloRedes {
    color: #fca64b;
  }
  .redesSociales {
    background-color: transparent;
  }
  .redesSociales ul li {
    background-color: transparent;
    border: 1px solid #000000;
  }
  .redesSociales ul li a {
    color: #e67700;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  .carrousellSunny {
    border: 5px solid #fca64b;
  }
  .carrousellPupi {
    border: 5px solid #fca64b;
  }
  .carrousellJacksoneitor {
    border: 5px solid #fca64b;
  }
  .carrousellLean {
    border: 5px solid #fca64b;
  }
  form {
    background-color: #000000;
    border: 5px solid #e67700;
  }
  legend {
    color: #fca64b;
    background-color: #000000;
  }
  label {
    color: #fca64b;
    background-color: #000000;
  }
  .tituloParrafo {
    background-color: #000000;
  }
  .telefono {
    color: #ffffff;
  }
  .direccion {
    color: #ffffff;
  }
  .copy {
    color: #ffffff;
  }
  footer {
    border-top: 4px solid #fca64b;
    background-color: #000000;
  }
  .tituloPrincipal {
    color: #e67700;
  }
  #textoFoto {
    border: 6px solid #e67700;
    background-color: #000000;
    color: #e67700;
  }
  #textoFoto:hover {
    border: 6px solid #000000;
    color: #000000;
    background-color: #e67700;
  }
  .tituloFotos {
    color: #fca64b;
  }
  header {
    background-image: linear-gradient(to top, #000000, #111111, #222222, #333333, #555555);
  }
  header {
    border-bottom: 4px solid #fca64b;
  }
  .colorNav {
    background-color: #000000;
    border: 2px solid #e67700;
  }
  .colorNav a:visited {
    color: #e67700;
  }
  .colorNav a:hover {
    color: #ffffff;
  }
  .colorText {
    color: #fca64b;
  }
  .nosDestacamos li {
    color: #e67700;
  }
  .tituloRedes {
    color: #fca64b;
  }
  .redesSociales {
    background-color: transparent;
  }
  .redesSociales ul li {
    background-color: transparent;
    border: 1px solid transparent;
  }
}
.tituloPrincipal {
  background-size: 80%;
  text-align: center;
  font-size: 190%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#textoFoto {
  width: 80%;
  font-size: 200%;
  font-weight: bold;
  position: absolute;
  top: 78%;
  right: 10%;
  text-align: center;
}

.jack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloFotos {
  font-size: 150%;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  .tituloPrincipal {
    background-size: 80px;
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  #textoFoto {
    width: 70%;
    font-size: 46px;
    font-weight: bold;
    position: absolute;
    top: 700px;
    right: 100px;
    border: solid;
    text-align: center;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  .tituloPrincipal {
    text-align: center;
    font-size: 600%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  #textoFoto {
    width: 75%;
    font-size: 500%;
    font-weight: bold;
    position: absolute;
    top: 160%;
    right: 10%;
    text-align: center;
    transition: all 1.5s;
  }
  .tituloFotos {
    font-size: 50px;
  }
}
.telefono {
  font-size: 12px;
  text-align: center;
}

.direccion {
  font-size: 15px;
  text-align: center;
}

.datos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.copy {
  font-size: 10px;
  text-align: center;
}

form {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}

legend {
  text-align: center;
  font: size 30px;
}

label {
  width: 80%;
  font-size: 15px;
  margin: 10px;
}

input, textarea {
  width: 90%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

textarea {
  min-height: 50px;
  max-height: 100px;
  width: 90%;
}

.opciones {
  text-align: center;
  font-size: 20px;
  width: 90%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.tituloParrafo {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 15px;
}

.checkbox {
  width: 100%;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}

/*>diseño para tableta*/
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  .bodyForm {
    background-image: url("../images/fondoformulario.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    box-sizing: content-box;
  }
  form {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
  }
  legend {
    text-align: center;
    font-size: 50px;
  }
  label {
    width: 80%;
    font-size: 20px;
    margin: 10px;
  }
  input, textarea {
    width: 90%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  textarea {
    min-height: 50px;
    max-height: 100px;
    width: 80%;
  }
  .opciones {
    text-align: center;
    font-size: 25px;
    width: 80%;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .tituloParrafo {
    text-align: center;
  }
  .parrafoContacto {
    text-align: center;
    margin: 2%;
  }
  button {
    margin: 15px;
  }
  .checkbox {
    width: 100%;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
  }
  .datos {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .telefono {
    font-size: 15px;
  }
  .direccion {
    font-size: 25px;
  }
  .copy {
    font-size: 12px;
  }
}
header {
  display: block;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  header {
    display: block;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  header {
    display: block;
  }
}
.parrafoNosotros {
  text-align: center;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  font-size: 90%;
  line-height: 100%;
  margin: 10px;
}

.nosDestacamos {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 90%;
  width: 100%;
}

.nosDestacamos li {
  text-align: left;
  font-size: 80%;
}

/*>diseño para tableta*/
@media screen and (min-width: 1200px) {
  .parrafoNosotros {
    text-align: center;
    font-size: 100%;
    -webkit-text-decoration: dotted;
            text-decoration: dotted;
    line-height: 150%;
    margin: 1%;
  }
  .nosDestacamos {
    -webkit-text-decoration: solid;
            text-decoration: solid;
    font-size: 180%;
    list-style-type: style type none;
  }
  .nosDestacamos li {
    margin: 2%;
    text-align: center;
    font-size: 100%;
  }
}
footer {
  font-size: 55%;
  margin: 10px;
}

footer ul li a {
  text-decoration: none;
}

.datos li {
  list-style-type: none;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  footer {
    margin: 10px;
  }
  .datos li {
    list-style-type: none;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  footer {
    margin: 10px;
  }
  footer ul li a {
    text-decoration: none;
  }
}
.tituloRedes {
  position: -webkit-sticky;
  position: sticky;
  align-items: center;
  text-align: center;
  font-size: 150%;
  z-index: 1;
}

.redesSociales {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.redesSociales ul {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  align-items: center;
  list-style-type: none;
  z-index: 1;
}

.redesSociales ul li {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  margin-left: 10%;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.redesSociales ul li a {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  left: 50%;
  z-index: 1;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  .tituloRedes {
    position: fixed;
    left: 400px;
    top: 400px;
    margin: 0px;
  }
  .redesSociales {
    position: fixed;
    bottom: 0px;
    left: 1000px;
    border-radius: 10px;
    padding: 0px 8px 0px 0px;
    width: 50%;
    display: inline-block;
  }
  .redesSociales ul {
    list-style-type: none;
    padding: 0%;
  }
  .redesSociales ul li {
    display: inline-block;
    border-radius: 0px;
    padding: 5px;
  }
  .redesSociales ul li a {
    font-size: 20px;
    text-align: right;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  .tituloRedes {
    position: fixed;
    font-size: 110%;
    left: 80%;
    top: 85%;
    margin: 0px;
    z-index: 1;
  }
  .redesSociales {
    display: inline-block;
    position: fixed;
    left: 73%;
    border-radius: 10px;
    bottom: 4%;
    width: 25%;
    z-index: 1;
  }
  .redesSociales ul {
    list-style-type: none;
    margin: 1%;
    bottom: 2%;
    left: 82%;
    z-index: 1;
  }
  .redesSociales ul li {
    display: inline-block;
    padding: 0.4%;
    z-index: 1;
  }
}
.colorNav {
  left: 15%;
  width: 100%;
}

.colorNav a {
  transition: 1.5s;
  font-size: 100%;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  .colorNav {
    text-align: center;
  }
  .colorNav a {
    transition: 1.5s;
  }
  .colorText {
    text-align: center;
  }
  .colorText a {
    transition: 1.5s;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  .colorNav {
    width: 75%;
    left: 35%;
  }
  .colorNav a {
    transition: 2.5s;
    align-items: center;
    text-align: center;
    font-size: 200%;
    padding: 1%;
  }
  .colorText {
    text-align: center;
  }
}
.carrousellSunny {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: 70%;
  margin: 15px;
  width: 95%;
}

.carrousellPupi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 70%;
  margin: 15px;
  width: 95%;
}

.carrousellJacksoneitor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 70%;
  margin: 15px;
  width: 95%;
}

.carrousellLean {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 70%;
  margin: 15px;
  width: 95%;
}

/*>diseño para tableta*/
@media screen and (min-width: 600px) and (orientation: portraid) {
  .carrousellSunny {
    display: flex;
    justify-content: space-around;
  }
  .carrousellPupi {
    display: flex;
    justify-content: space-around;
  }
  .carrousellJacksoneitor {
    display: flex;
    justify-content: space-around;
  }
  .carrousellLean {
    display: flex;
    justify-content: space-around;
  }
}
/*Diseño para Desktop*/
@media screen and (min-width: 1200px) {
  .carrousellSunny {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin: 15px;
    font-size: 150%;
    align-items: center;
    width: 98%;
  }
  .carrousellPupi {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 150%;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 98%;
  }
  .carrousellJacksoneitor {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin: 30px;
    font-size: 150%;
    align-items: center;
  }
  .carrousellLean {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin: 30px;
    font-size: 150%;
    align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */
* {
  color: rgb(255, 255, 255);
  margin: 0.05%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #000000;
}

/*>diseño para tableta*/
/*Diseño para Desktop*//*# sourceMappingURL=styles.css.map */