@import"./partials/fotoMain","./partials/contacto", "./partials/header","./partials/nosotros","./partials/colors","./partials/footer","./partials/redes", "./partials/navBar", "./partials/carrousell" ;

*{
    padding: 0%;
    margin: 0.05%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}              
    
@media screen and (max-width:599px) and (orientation:landscape) {
     
}
    
 /*>diseño para tableta*/
    
@media screen and (min-width:600px ) and (orientation: portraid){
    
 
}           
/*Diseño para Desktop*/
    
@media screen and (min-width:1200px ) {
           
}